<nav class="navbar navbar-expand-lg bg-white border-bottom fixed-top">
    <div class="container">
        <a class="navbar-brand" href="">
            <img src="partez.png" alt="Logo" height="30" class="d-inline-block align-text-center"/>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="{{ html_classes('nav-link', { 
                        'active': _params.path == "/"
                    }) }}" href="">Home</a>
                </li>
                <li class="nav-item">
                    <a class="{{ html_classes('nav-link', { 
                        'active': _params.path starts with "/about"
                    }) }}" href="about">About</a>
                </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="{{ html_classes('nav-link', { 
                        'active': _params.path starts with "/login",
                        'grayscale': not _params.auth
                    }) }}" href="login">😎</a>
                </li>
            </ul>
        </div>
    </div>
</nav>