{% extends "layout.html.twig" %}

{% block main %}
    <main class="container d-flex flex-column align-items-center justify-content-center">
        <h1 class="text-center">Welcome to <img src="{{ app_subdir }}/public/partez.png" alt="Logo partez" height="50" class="d-inline-block align-text-center"/></h1>
        <h2 class="text-center h3">A simple and fast PHP starter kit for web app.</h2>
        <p>For a guide check out the <a class="link-primary" href="/about">documentation</a>.</p>
    </main> 
{% endblock %}