{% extends "layout.html.twig" %}

{% block main %}
    <main class="container d-flex flex-column align-items-center justify-content-center">
        <h1>New view!</h1>
        <p>You must now start editing the controller <code>{{ _params.controller }}</code> at <code>{{ _params.controllerPath }}</code>.</p>
    </main> 
{% endblock %}