{% extends "layout.html.html.twig" %}

{% block main %}
    <main class="container d-flex flex-column align-items-center justify-content-center">
        <h1>New view!</h1>
        <p>You must now start editing the controller at <pre>{{ _params.route.controller }}</pre></p>
    </main> 
{% endblock %}