{% extends "layout.twig" %}

{% block main %}
    <main class="container d-flex flex-column align-items-center justify-content-center">
        <h1 class="text-center">Welcome to abollinger's <img src="{{ app_subdir }}/public/favicon.svg" alt="Logo" width="60" height="60" class="d-inline-block align-text-center"/> Starter!</h1>
        <p>For a guide check out the <a class="link-primary" href="https://github.com/Antoine-Bollinger/php-starter">documentation</a>.</p>
    </main> 
{% endblock %}