# local env files
.env
.env.local
.env.*.local
.env.php

# vendors & node_modules
node_modules
vendor
composer.lock
package-lock.json

# deploy
deploy*.php
redirect.php
sitemap.xml
robots.txt
bricolo

# VSCode 
.vscode

# Old
*_old.*
*_old/