{% extends "Layout.twig" %}

{% block main %}
	<main class="container d-flex flex-column align-items-center justify-content-center">
		<h1 class="text-center">Users</h1>
		<div>{{ users|list|raw }}</div>
	</main>
{% endblock %}
